# Program file
*megaphone
*PhoneBook
*replace
*Harl
*HarlFilter
*Fixed
*Bsp
*ClapTrap
*ScavTrap
*FragTrap
*DiamondTrap
*Animal
*Brain
*Materia
*Bureaucrat
*Form
*Intern
*_shrubbery
*convert
*serialization
*Identify
*whatever
*iter
*array
*easyfind
*Span
*mutantStack
# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
